node_modules/
.env
.env.local
backend/.env
frontend/.env
backend/data/*.sqlite
backend/data/*.sqlite-journal
coverage/
dist/
*.tsbuildinfo
*.iml
vite.config.js
vite.config.d.ts

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store